name: Terraform Apply

on:
  workflow_dispatch:   # manual trigger

jobs:
  terraform:
    runs-on: self-hosted
    env:
      TF_CLI_CONFIG_FILE: ${{ github.workspace }}/terraform.rc
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        env:
          PM_API_URL: ${{ secrets.PM_API_URL }}
          PM_API_TOKEN_ID: ${{ secrets.PM_API_TOKEN_ID }}
          PM_API_TOKEN_SECRET: ${{ secrets.PM_API_TOKEN_SECRET }}
          PM_TLS_INSECURE: ${{ secrets.PM_TLS_INSECURE }}
        run: terraform apply -auto-approve -input=true 
