name: Terraform Apply

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: self-hosted
    env:
      TF_CLI_CONFIG_FILE: ${{ github.workspace }}/terraform.rc

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        env:
          TF_VAR_PM_API_URL: ${{ secrets.TF_VAR_PM_API_URL }}
          TF_VAR_PM_API_TOKEN_ID: ${{ secrets.TF_VAR_PM_API_TOKEN_ID }}
          TF_VAR_PM_API_TOKEN_SECRET: ${{ secrets.TF_VAR_PM_API_TOKEN_SECRET }}
          TF_VAR_PM_TLS_INSECURE: ${{ secrets.TF_VAR_PM_TLS_INSECURE }}
        run: terraform init -input=false

      - name: Terraform Apply
        env:
          TF_VAR_PM_API_URL: ${{ secrets.TF_VAR_PM_API_URL }}
          TF_VAR_PM_API_TOKEN_ID: ${{ secrets.TF_VAR_PM_API_TOKEN_ID }}
          TF_VAR_PM_API_TOKEN_SECRET: ${{ secrets.TF_VAR_PM_API_TOKEN_SECRET }}
          TF_VAR_PM_TLS_INSECURE: ${{ secrets.TF_VAR_PM_TLS_INSECURE }}
        run: terraform apply -auto-approve -input=false

